/* Colores generales */
body {
    background-color: #161625;
    color: #cccccc;
}

/* Navbar o barra superior */
.navbar {
    background-color: #161625;
}

.navbar-brand, .nav-link {
    color: white !important;
    border-radius: 10px;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #232c42;
    border-radius: 10px;
    color: #fff !important; 
}

/* Estilo especial para el botón de SALIR */
.dropdown-item.text-danger {
    color: #dc3545 !important;
}

.dropdown-item.text-danger:hover {
    background-color: rgb(155, 23, 37) !important;
    color: white !important;
}

/* Habilitar desplazamiento en la barra desplegable */
.dropdown-menu {
    background-color: #161625 !important;
    border: none;
    max-height: 250px; /* Ajusta la altura máxima antes del scroll */
}

/* Estilos para los ítems del dropdown */
.dropdown-item {
    color: white !important; /* Cambiado de rgb(21, 255, 0) a white */
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #232c42 !important;
    color: #ffffff !important;
}

/* Sidebar o Barra lateral izquierda */
.sidebar {
    background-color: #161625;
}

.nav-item a {
    color: white !important; /* Cambia el color del texto de las letras */
    padding: 10px 15px; /* Espaciado interno */
    text-decoration: none; /* Elimina el subrayado */
    transition: background-color 0.25s ease; /* Transición suave para el color de fondo */
}

.nav-item a:hover {
    background-color: #232c42; /* Cambia el color de fondo al pasar el mouse */
}

/* Ajustes del espacio de páginas anidadas o enrutadas */
main {
    margin-left: 0px; /* Ajusta según el ancho del sidebar */
    margin-right: 0px; /* Ajusta según el ancho del sidebar */
    width: calc(100% - 260px); /* Ajusta el ancho del main para que no se superponga con el sidebar */
    overflow-x: hidden; /* Evita que se salga del viewport */ 
    overflow: auto; /* Permite el desplazamiento si el contenido es más grande que la pantalla */
}