/* Estilos para las tablas */
.table {
  width: 100%;
  table-layout: auto;
  overflow-y: auto,
  
}

.table thead th {
  background-color: #232c42;
  color: white;
  padding: 12px;
  text-align: left;
}

.table tbody td {
  word-wrap: break-word;
  background-color: rgb(189, 182, 182);
  overflow-wrap: break-word;
  max-width: 300px;
  padding: 10px;
  vertical-align: top;
  color: #000000;
}


/* Media query para responsividad en pantallas pequeñas */
@media (max-width: 768px) {
  .table tbody td {
    max-width: 150px;
    font-size: 0.9em;
  }
}