#contenedor {
 display: flex;
 flex-direction: column;
 min-height: 100vh; /* Ocupa toda la pantalla */
}

main {
 flex: 1; /* Empuja el footer hacia abajo */
}

/* Footer */
.footer {
  background: linear-gradient(135deg, #0F2027 0%, #203A43 50%, #2C5364 100%); /** Aplica un fondo con degradado lineal en diagonal de 135 grados con tres colores */
  color: white;
  padding: 15px 0;
  text-align: center;
  margin: 0;
  overflow: hidden; /** Oculta cualquier contenido que se desborde del contenedor */
  margin: 0; /** Elimina el margen externo del elemento */
  padding: 0; /** Elimina el relleno interno del elemento */
  position: fixed; * Fija el elemento en la ventana, incluso al hacer scroll
  top: 0; /** Posiciona el elemento en la parte superior de la ventana */
  left: 0; /** Posiciona el elemento en el borde izquierdo de la ventana */
}

.footer a:hover, 
.footer .nav-item:hover {
  background-color: #0056b3;
  color: aliceblue;
}
