
main {
 flex: 1; /* Empuja el footer hacia abajo */
}

/* Footer */
.footer {
 background-color: #010211;
 color: white;
 text-align: center;
}

.footer a:hover, 
.footer .nav-item:hover {
  background-color: #0056b3;
  color: aliceblue;
}
